
body{    
    background: #0C122C;
    font-family: 'Raleway';
    
    }
        
.colorbajo{ position: absolute;
width: 1700px;
height: 50%;
left: 0px;
bottom: 0px;

}

.mobil{
display: none;
}

.menu {position: absolute;
    width: 350px;
    height: 195px;
    left: 300px;
    top: 255px;
background: #1E2C69;
border-radius: 10px 80px 10px 10px;

}

.flechablanco{position: absolute;    
    left: 1163px;
    top: 330px;
    
}

.folder{position: absolute;
    left: 21.32%;
    right: 50%;
    top: 44.38%;
}


.docBtn{position: absolute;
left: 2%;
right: 50%;
top: 44.38%;

}

.uploadBtn{ position: absolute;
left: 42%;
right: 50%;
top: 44.38%;

}

.logo{position: absolute;
left: 5%;
right: 50%;
top:  10%;

}

.rectangulo{position: absolute;
width: 542px;
height: 140px;
left: 671px;
top: 310px;
border-radius: 10px;
}

.letra{position: absolute;
width: 270px;
height: 25px;
left: 706px;
top: 330px;
color: #D2D9FF;
}

.numero{position: absolute;
width: 174px;
height: 71px;
left: 1015px;
top: 266px;
font-size: 42px;
background: #FFFFFF;
border-radius: 10px;
padding-left: 10px;


}

.GB{position: absolute;
height: 18px;
left: 1115px;
top: 270px;
font-size: 14px;
color: #98999D;


}



.gbtotal{position: absolute;
width: 484px;
left: 1130px;
top: 400px;
color: #FFFFFF;

}

.numero0gb{position: absolute;
    width: 400px;
    left: 700px;
    top: 400px;
    color: #FFFFFF;


}

.barra{position: absolute;
    width: 485px;
    height: 17px;
    left: 706px;
    top: 385px;
    
    background: #131F49;
    border-radius: 21px;
    }

.progreso{position: relative;
        width: 80%;
        height: 17px;
        border-radius: 10px;
        background-image: linear-gradient(45deg, #FE9896, #fb4d92);
        animation: recorrer 15s;


    }

    .bolita{position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ffffff;
        right: 3px;
        top: 2px;


    }

    @keyframes recorrer{
        from {width: 7%;}
        to {width: 80%;}
    }



@media screen and (max-width:750px){      
    .colorbajo{ display: none;   
    }

    .menu {
 position: absolute;
  width: 304px;
height: 204px;
 left: 300px;
top: 10%;    
    }
    

.rectangulo{        
width: 304px;
height: 140px;
left: 300px;
top: 290px;
        
        }

 .numero{
left: 367px;
top: 400px;
           
            }

.GB{             
 left: 450px;
top: 405px;           
                
 }

.numero0gb{                
 left: 320px;
 top: 350px;              
        
                }

.gbtotal{
left: 520px;
  top: 350px;
  }

 .barra{
width: 260px;
left: 320px;
 top: 335px;                        
  }


.letra{
left: 320px;
top: 280px;

 }      

 .mobil{ position: absolute;
    width: 900px;
    height: 100%;    
    display: block;

    }
    .flechablanco{position: absolute;    
        display: none;
        
    }
  }


  
