.contenedor{position: relative;
    width: 1440px;
    height: 800px;    
    background: #0C122C;
    }
        
.colorbajo{ position: absolute;
width: 1440px;
height: 420px;
left: 5px;
top: 383px;

}

.menu {position: absolute;
    width: 353px;
    height: 195px;
    left: 208px;
    top: 250px;
background: #1E2C69;
border-radius: 10px 80px 10px 10px;

}

.folder{position: absolute;
    left: 21.32%;
    right: 50%;
    top: 44.38%;
}


.docBtn{position: absolute;
left: 2%;
right: 50%;
top: 44.38%;

}

.uploadBtn{ position: absolute;
left: 42%;
right: 50%;
top: 44.38%;

}

.logo{position: absolute;
left: 5%;
right: 50%;
top:  10%;

}

.rectangulo{position: absolute;
width: 542px;
height: 140px;
left: 671px;
top: 310px;
border-radius: 10px;
}



