* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Indie Flower", sans-serif;
}
:focus {
    outline: none;
}
body {
    background-color: #E1F8FB;
    height: 100vh;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    min-width: 350px;
}
.asideMenu {
    background-color: #303044;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 75px;
    height: 100%;
    align-items: center;
    padding: 12px 0;
}
.imgMenu {
    width: 48px;
}
.divBotonNuevo {
    position: absolute;
    left: 0;
    bottom: 12px;
}
.mainPrincipal,.mainAgregar,.mainHome{
    width: 65%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainAgregar,.mainPrincipal{
    display: none;
}
.borde0{
    border-right: 5px solid #000000;
}
.borde1 {
    border-right: 5px solid #D1461F;
}
.borde2 {
    border-right: 5px solid #FDBD35;
}
.borde3 {
    border-right: 5px solid #84DB16;
}
.borde4 {
    border-right: 5px solid #00ACC1;
}
.borde5 {
    border-right: 5px solid #FFF;
}
.sectionCompletados,.sectionPendientes {
    width: 90%;
}
.sectionEnProceso {
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
    background-color: #BED0D6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.btnConfig{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 20px;
    z-index: 1;
}
.divControles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h2{
    text-align: center;
}
.botonControl:hover{
    transform: scale(1.5);
}
.inputs,button{
    border:1px solid #303044;
    margin: 0%;
    height: 50px;
}
.inputs{
    text-align: center;
    width: 50%;
    align-self: center;
}
button{
    color: #FFF;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303044;
    font-weight: bolder;
    width: 50px;
}
button:hover{
    color: #000;
    background-color: #b2b2c0;
}
.btnMas{border-radius: 0 50% 50% 0;}
.btnMenos{border-radius: 50% 0 0 50%;}
.btnGuardarConfiguracion{
    width: 100%;
    border-radius: 15px;
    font-size: 30px;
}
.divItemMenu,.divItemMenu1,.divItemMenu2 {
    display: flex;
    padding-left: 11px;
    width: 100%;
    margin: 12px auto;
}
.divItemMenu1,.divItemMenu2 {
    display: none;
    cursor: pointer;
}
.divItemActivo {
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.divHover {
    width: 200px;
    font-size: 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(143, 143, 143);
}
.divPomodoro {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #6DC3CE;
    min-height: 40px;
    width: 100%;
    margin: 2px 0;
    flex-wrap: wrap;
}
.pomodoroCompletado,.pomodoroPendiente {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    background-size: 25px;
    padding:5px 20px 5px 40px;
}
.pomodoroPendiente {
    border-left: 8px solid #D1461F;
    background-image: url('../images/tom_check.svg');
}
.pomodoroCompletado {
    border-left: 8px solid #84DB16;
    text-decoration: line-through;
    background-image: url('../images/tom_checked.png');
    background-size: 30px;
}
.pomodoroProceso {
    font-size: 20px;
    border-left: 8px solid #FDBD35;
    padding:5px 20px 5px 20px;
    min-height: 50px;
    max-width: 95%;
}
.divTemporizador {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Timer {
    transition: 2ms;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    background-color: #21c72f;
    display: flex;
    justify-content: flex-end;
}
#btnVolume:hover{
    transform: scale(1.5);
}
#btnSubtareas:hover{
    transform: scale(1.5);
}
.muted{
    border-radius: 50%;
    background-color: #D33030;
}
.container{    
    width: 100%;
    height: 100%;
}
.tomTimer {
    margin-top: -25px;
    margin-right: -5px;
    height: 60px;
    transform-origin: center;
    animation: tomDancing 1.5s infinite linear;
}
.oculto{
    width: 150px;
    display: none;
}
.btnTerminado,.btnNoTerminado{
    border-radius: 10px;
    width: 30%;
    height: 75px;
    color: #FFF;
    font-size: 30px;
}
.terminado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
@keyframes tomDancing {
    30% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
}
.mostrarSubtareas{
    width: 70%;
    display: flex;
    align-items: center;
}
.btn {
    width: 120px;
    height: 35px;
    background-color: #303044;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
}
.btn:hover {
    background-color: #b2b2c0;
    color: black;
}
.AgregarNueva,.Agregar {
    padding-left: 20px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #6DC3CE;
}
.Agregar {
    height: 200px;
}
.botonesAgregar {
    margin-top: 30px;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}

.tituloSub{
    display: none;
}
#check{
    width: 25px;
    height: 25px;
}
.subtareas{
    align-self: flex-end;
    width: 60%;
}
.agregarSubtareas{
    display: flex;
    margin-top: 10px;
}
.ingSubtarea{
    border: 1px solid #6DC3CE;
    width: 100%;
    margin-left: 5px;
    border-radius: 4px;
}
.mainHome h1{
    font-size: 60px;
}
.mainHome h2{
    font-size: 30px;
}
table{
    margin-top: 20px;
    font-size: 20px;
}
td img{
    width: 60px;
    height: 60px;
}

#mostrarModificar{
    display: none;
    border: solid gray 1px ;
    border-radius: 6px;
    position: absolute; 
    top: 20%;
    width: 40%;
    height: 200px;
    background-color: #E1F8FB; 
    padding: 15px;
}

#mostrarModificar h3{
    text-align: center;
    margin: auto;
}

.inputModificar{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonesModificar{
    display:flex;
    justify-content: space-around;
    padding: 20px;
}

#guardarCambios, #cancelarCambios{
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 4px;
}

#modificar{
    width: 50%;
    height: 35px;
    border-radius: 6px;
}

#camposVacios{
    width: 100%;
    display: flex;
    justify-content: right;
    color: red;
}

.tiempoRestante{
    font-size: 30px;
}

@media only screen and (max-width: 750px) {
    .divItemMenu1 {
        display: block;
        width: auto;
        position: absolute;
    }
    .asideMenu {
        display: none;
    }
    .mostrar {
        display: flex;
    }
}