*{
    margin: 0%;    padding: 0%;   
}


body{
display: flex;
flex-direction: column;
background-color: #F0FAFB; }



.principal{   
width: 80%;
margin: auto;
margin-top: 120px;
}

.hide{
    display: none;
}

#keyWordContainer{
    display: none;
}

#keyWordContainer.active{
background-color: #FFFFFF;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
padding: 20px;
margin-bottom: 15px;
box-shadow: 0px 9px 9px 0px #78797975;
border-radius: 10px;    
}

.container{
display: flex;
background-color: #FFFFFF;
margin-bottom: 20px;
border-radius: 10px;
box-shadow: 0px 3px 9px 0px #78797975;
justify-content: space-between;
padding: 20px 40px 20px 40px;
align-items: center;
height: 100px;
}

.leftContainer{
display: flex;
flex-direction: row-reverse;
}

.tags2{
margin:5px 10px 5px 0;
height: 25px;
border: none;
width: 80px;
padding: 0 5px 0 5px;
background-color: #ECF2F3;
font-weight:bolder ;
color: #5BA4A2;
}

.tags2:hover{
background-color: #5BA4A2;
color: #FFFFFF;
}

.logoImg{
margin-right: 20px;
}

.filtered{
border: dashed black;

}

.search__clear {
    margin-left: 50px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: #5BA4A2;
}

.search__clear:hover {
    text-decoration: underline;
}


@media screen and (max-width: 881px) {

    .principal{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
 

    .hide{
        margin-top: 5%;
    }
    


    

}
