body{
    background-color: #FAFAFA;
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;    
    color: #929197;
}

.titulo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 1110px;
}

#titulo1{align-self: center;
    left: 0px;}



.texto_titulo{
    font-size: 36px;
    margin: 0px;
}

#sub{color: #333637;}


.texto_encabezado{
    margin: 0px;
    margin-top: 20px;
    color: #929197;
    width: 470px;
    align-self: center;
    margin-bottom: 40px;

}
#titulo2{top: 0px;}


.tit_cuadros{
    color: #333637;
    position: relative;
    font-size: 20px;
    top: 40px;
    left: 30px;
}

.texto_cuadros{
    width: 255px;
    position: relative;
    left: 30px;
    top: 50px;
}


#titulo3{bottom: 0px;}


.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 1110px;
    height: 530px;    
}

.icono{
position: absolute;
width: 64px;
bottom: 30px;
right: 30px;}

.borders{
    position: absolute;
    top: 0px;
    left: 0px;
}


#titulo4{align-self: center;
    right: 0px;}



.tarjeta{
    border-radius: 10px;
    box-shadow: 0 10px 10px #DDE5F0;
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;    
}



@media screen and (max-width:800px) {


.contenedor{
    width: 311px;
    height: 960px;
    flex-direction: column;
}


.titulo{width: 311px;
margin-top: 30px;}

#titulo1{left: 0;}


.texto_titulo{
    font-size: 24px;
    margin: 0px;
    margin-top: 10px;
}

#titulo2{left: 0px;}

.texto_encabezado{width: 270px;
margin-bottom: 40px;
margin-top: 20px;
}


.tarjeta{
    position: relative;
    flex-direction: column;
    width: 311px;
    height: 222px;    
    margin-bottom: 25px;

}

#titulo3{left: 0px;}



.tit_cuadros{
    top: 30px;
    left: 30px;
}

.texto_cuadros{
    left: 30px;
    top: 20px;
}


#titulo4{left: 0px;}


.icono{
    width: 57px;
    bottom: 26px;
    right: 26px;}
    

.borders{width: 311px;}

}