* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
background-color: #F5F3F3;
height: 100vh;
display: flex;
flex-direction: column;
}
.tituloPrincipal{
width: 95%;
align-self: center;
color: #787575;
background-color: #fAFAFA;
border-radius: 5px;
text-align: center;
margin-top: 20px;
box-shadow: 0 10px 10px #c7c7c7;
height: 50px;
}
main{
  display: flex;
  max-height: 90%;
  width: 90%;
  margin: auto;
}
.opciones{
  background-color: transparent;
  display: grid;
  grid-template-rows: 30vh 30vh 30vh;
  column-gap: 100px;
  row-gap: 50px;
  border: solid #787575  ;
  overflow-y: scroll;
  width: 80%;
}
.opciones::-webkit-scrollbar{
  background-color: transparent;
}
img{
  width: 30%;
}
.opcion1, .opcion4{
grid-column: 1 / 3;
}
.opcion2, .opcion5{
  grid-column: 3 / 5;  
}
.opcion3{
  grid-column: 2 / 4;
}
.imgPrincipal{
  grid-column: 5;
  grid-row: 2;
 }
p{ 
  padding-top: 5px;
  height: 35px;
  background-color:#D7B35A ;
  border-radius: 5px 5px 0px 0px;
}
.opciones div{
  max-width: 400px;
  box-shadow: 0 10px 10px #c7c7c7;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.opciones div img{
  margin: auto;
  width: 30%;
}
.opcion1:hover img{
content:url("../images/GruaAmarillo.svg");
}
.opcion2:hover img{
  content:url("../images/MantenimientoAmarillo.svg");
  }
.opcion3:hover img{
    content:url("../images/money\ Amarillo.svg");
    }
.opcion4:hover img{
      content:url("../images/AmarilloCombustible.svg");
      }
.opcion5:hover img{
        content:url("../images/LlantaAmarillo.svg");
        }  
.titulosOpcion{
 text-align: center;
 color: #f7f7f7;
 font-weight: bold; 
}
.ContenedorPrincipal{
  display: none;
}

.tituloPrincipal2{
width: 45%;
align-self: center;
color: #f7f7f7;
background-color: #D7B35A;
border-radius: 5px 5px 0px 0px;
text-align: center;
margin-top: 20px;
height: 40px;
}
.Sectionopciones2{
  box-shadow: 0 10px 10px #c7c7c7;
  display: flex;
  border: solid firebrick;
  width: 60%;
  justify-content: space-between;
  height: max-content;
}
.Sectionopciones2 div{
  display: flex;
flex-direction: column;
align-items: center;}