*{overflow: hidden;}

body{position: relative;
    height: 100%;  
    width: 100%;  
    background: linear-gradient(118.15deg, #FFFFFF 24.52%, #FFF3F3 72.43%);
    
}

.contenedor{
    display:flex;

    position: relative;
    width: 100%;
    height: 600px;  
         
}

.menu{ 
 display: flex;
    flex-direction:column;
    position: absolute;
width: 830px;
height: 600px;
left: 0px;
top: 0px;

}

.img{position: absolute;
    width: 610px;
    height: 100%;
    left: 830px;
    top: 0px;
}


.logo{ position: absolute;
left: 19.88%;
right: 61.13%;
top: 8.25%;
bottom: 87.81%;

}

.were{position: absolute;
    left: 20%; 
    top: 20%;
    bottom: 60%;  
    font-size: 63px;
    line-height: 63px;  
    letter-spacing: 0.28em;
    color: #C49899;
    font-weight: 100;
    font-family: Josefin Sans;
    margin: 0px;
}

.coming{position: absolute;
    left: 20%;
    right: 18%;
    bottom: 47%;
    margin: 0px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 68px;    
    color: #373131;
    letter-spacing: 0.22em;
}

.textolargo{ position: absolute;
left: 19%;
right: 30%;
top: 55%;
bottom: 30%;
font-family: Josefin Sans;
color: #C49899;
}


.input{
    position: absolute;
    top: 450px;
    height: 10%;
    width: 420px;
    left: 150px;
}

.error{ position: absolute;
right: 30%;
bottom: 30%;
}


.email{
    position:absolute;
    right: 30px;
    width: 90%;
    border: 2px solid #F16161;
    box-sizing: border-box;
    border-radius: 100px;
    height: 50px;
    padding: 25px;
    outline: none;

}

button{
    position: absolute;
    border-radius: 30px;
    right: 0px;  
    width: 120px;
    height: 54px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #F29E9E;
    float: right ;
}





@media screen and (max-width:1110px){    
    *{ 
        overflow: unset;
        
    }
    body{position: relative;
        height: 140vh;  
        width: 100%; 
        display: flex;  
        justify-content: center;         

    }

    .contenedor{   
        width: 80%;
        height: 900px; 
             
    }
    .menu{ 
    display: flex;
    flex-direction:column;
    position: absolute;
    width: 500px;
    height: 810px;
             

       }


       .img{position: absolute;
        width: 510px;
        height: 45%;
        top: 50px;
        float: left;
        left: 0px;

    }

    .logo{ position: absolute;
        left: 0px;
        right: 61.13%;
        bottom: 87.81%;
        top: 0px;        
        }

        .were{position: absolute;
            left: 25%; 
            top: 500px;
            font-size: 63px;
            height: 70px;
            font-weight: 100;
            font-family: Josefin Sans;
            margin: 0px;
            text-align: center;
        }

        .coming{position: absolute;
            left: 17%;
            bottom: 13%;
            height: 150px;
            text-align: center;          
        
        }

        .textolargo{ position: absolute;
            left: 20%;
            top: 690px;
            height: 100px;
            text-align: center;
            width: 350px;
            }        

            .input{
                position: absolute;
                top: 800px;
                height: 6%;
                width: 420px;
                left: 50px;            
            }
     
    }