*{
    border: solid black;
}body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'manropa', sans-serif;

}

*{
    border: solid blue
}

#contenedor1{
    border-style: solid;
    border-color: rgba(206, 206, 206, 0.562);
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 730px;
    border-radius: 10px;
}


main {
    border: solid;
    display: flex;
    height: 288px;
    width: 754px;

}
section.right {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.info {
    display: flex;
    flex-direction:row;

}
.textInfo{
    display: flex;
    flex-direction: column;
    line-height: 0;
    padding:0;
    margin: 0;
}

.texto{
    border: solid fuchsia; 
    width: 100px;
    height: 50px;
}

#botonimg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 40px;
}

#flecha {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 425px;
    left: 750px;

}
h4{
    color:#545a64;
}
p{
    color: #888D93;
}

h5{
    padding: 0;
    color: #6d7080;
}

h6{
    color: #6d747e;
    padding: 0;
}



#Selectboton{
    display: none;

}
.Select{
    width: max-content;
}
.Select:hover #Selectboton{
    display: block;
    
}

#desktopSvg{
display: none;

}

.Select:hover #destktopSvg{
    display: block;

}



  
@media screen and (max-width: 750px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
       
        width: 375px;
        height: 700px;

    }

    #contenedor{
        width: 286px;
        height: 516px;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 10%;
        border-width: 10%;
    }

  
    .botonimg {
        width: 375px;
        height: 300px;
        flex: 40%;
        background-size: cover;

        border-top-left-radius: 10px;

    }
}



